<!--Componente padre--> Padre:
<h1>{{titulo}}</h1>
<ul>
    <li>Camisas Blancas</li>
    <li>Pantalones Negros</li>
    <li>Zapatos Negros</li>
    <li>Casacas Negras</li>
</ul>

<hr/>

<p>
   Nombre del parque:
    <input type="text" [(ngModel)]="nombreDelParque" (keyup)="mostrarNombre()"/><!--"keyup"es un evento-->
</p>

<p>
    Resultado: {{nombreDelParque}}
</p>

<div *ngIf="miParque">
    <h4>Datos de miParque desde el hijo</h4>
    <ol>
        <li>{{miParque.nombre}}</li>
        <li>{{miParque.metros}}</li>
        <li>{{miParque.vegetacion}}</li>
        <li>{{miParque.abierto}}</li>
    </ol>
</div>

<hr>
<parques [nombre]="'Nombre por defecto'" 
             [metros_cuadrados]="580"
             (pasameLosDatos)="verDatosParque($event)">
</parques>

<p *ngIf="nombreDelParque">
    Hijo: 
     <parques [nombre]="nombreDelParque" 
              [metros_cuadrados]="580"
              (pasameLosDatos)="verDatosParque($event)">
     </parques>   
 </p>
 