.navigation, .col-lg-12{
    margin-top: 10px;
}
.jumbotron{
    padding: 40px;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #cccccc;
}
.navbar-nav .active{
    border-bottom: 3px solid #0948f7!important;
}

/*Iconos*/
.glyphicon {
    right: 4px;
}

/*Inicio*/
.btn-group-lg>.btn, .btn-lg {
    margin: 2px;
}
